

body{
	margin:10;
	padding: 10;
	background: #ddd url(../img/back.png) repeat-x top;
	font-family: "Lucida Grande", sans-serif;
}

header{
	width:100%;
	height: 300px;
	color: white;
	background: #ff0099;
	margin:0;
	padding:0;
}

div#menu{
	width:100%;
	height: 70px;
	color: white;
	/*background: url(../img/menu_back.png) repeat-x top;*/
	background: #ff0099;
	margin:0;
	padding:0;
}
div#menu-content-wrapper,div#content-wrapper{
	width:980px;
	height:100%;
	margin:0px;
	padding:0;
}
div#heading{
	padding-left:280px;
	height: 100%;
}

div#heading div.right{
	padding-top:0px;
}
div#heading div.left{
	padding-left:10px;
}
.leitmotifList {
	background: #fff;
	border: 1px solid #aaa;
	width:95%;
	height: 100%;

	margin: 5px 5px 10px 10px;
	padding: 5px 5px 5px 5px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 10px #888;
	-moz-box-shadow: 5px 5px 10px #888;
}

.leitmotifItem {
	width:95%;
	position:relative;
	margin: 5px 10px 10px 5px;
	padding: 5px 5px 5px 5px;
}

.leitmotifFrame {
	background: #fff;
	border: 1px solid #aaa;
	width:100%;
	height:25px;
/*	position:absolute;
	top:0;
	left:0;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 10px #888;
	-moz-box-shadow: 5px 5px 10px #888;
}

div#leitmotifNew-0, div#leitmotifNew-1,div#leitmotifNew-2,div#leitmotifNew-3{
	font-style:italic;
}


.leitmotifText {
  	text-align: left;
 	position:absolute;
 	top:0;
 	right:0;
 	width:80%;
   	height: 100%;
	padding: 5px 5px 5px 5px;
	display: block;
}

.leitmotifActions{
 	position:absolute;
 	top:0;
  	left:0;
 	width:19%;
  	height: 100%;
  	padding: 5px 5px 5px 5px;
  	display: block;
  	cursor:move;
 } 
 
 .leitmotifTextEdit{
 	overflow:auto;
 	max-height : 100px;
 }